.table th {
  border-top: none;
  font-weight: 600;
}

.small-box {
  border-radius: 0.375rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.small-box .inner {
  position: relative;
  z-index: 2;
}

.small-box .inner h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.small-box .inner p {
  margin-bottom: 0;
  opacity: 0.8;
}

.small-box-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 3rem;
  opacity: 0.3;
}

.form-switch .form-check-input {
  cursor: pointer;
}

.form-switch .form-check-input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}